<template>
    <ul class="uk-pagination">
        <li :class="[prevClass, {disabled: firstPageSelected()}]">
            <a @click="prevPage()" @keyup.enter="prevPage()" tabindex="0">
                <slot name="prevContent"><i class="icon-arrow-left32"></i></slot>
            </a>
        </li>
        <li v-for="page in pageitems" :class="[page.selected ? activeClass : '', {disabled: page.disabled}]">
            <a v-if="page.disabled" tabindex="0">{{ page.content }}</a>
            <a v-else @click="onPageSelect(page.index)" @keyup.enter="onPageSelect(page.index)" tabindex="0">{{page.content}}</a>
        </li>
        <li :class="[nextClass, {disabled: lastPageSelected()}]">
            <a @click="nextPage()" @keyup.enter="nextPage()" tabindex="0">
                <slot name="nextContent"><i class="icon-arrow-right32"></i></slot>
            </a>
        </li>
    </ul>
</template>

<script>
export default {
    // имя компонента
    name: 'pagination',

    // входящие параметры
    props: {
        // общее количество елементов
        items: {
            type: [Number],
            require: true
        },
        // колиичество обьектов на странице
        itemsOnPage: {
            type: [Number],
            default: 10
        },
        // текущая страница
        currentPage: {
            type: Number,
            default: 0
        },
        // если параметр указан, элементы items и itemsOnPage не будут использоваться для вычисления количества страниц
        pages: {
            type: [Number],
            default: 0
        },
        // количество отображаемых страниц
        pageRange: {
            type: Number,
            default: 3
        },
        // css класс активной страницы
        activeClass: {
            type: String,
            default: 'uk-active'
        },
        // количество видимых страниц в начале / конце пагинатора
        edges: {
            type: Number,
            default: 1
        },
        prevClass: {
            type: String
        },
        nextClass: {
            type: String
        },
        url: {
            type: String,
            default: '?page='
        }
    },

    // динамически данные
    data() {
        return {
            selected: 0
        }
    },

    beforeUpdate() {
        this.selected = this.currentPage > 0 ? this.currentPage - 1 : 0;
    },

    // методы
    methods: {
        onPageSelect(selected) {
            if (this.selected === selected) return;
            this.selected = selected;
            this.$emit('change', {value: this.selected + 1});
        },
        prevPage() {
            if (this.selected <= 0) return;
            this.selected--;
            this.$emit('change', {value: this.selected + 1});
        },
        nextPage() {
            if (this.selected >= this.pageCount - 1) return;
            this.selected++;
            this.$emit('change', {value: this.selected + 1});
        },
        firstPageSelected() {
            return this.selected === 0;
        },
        lastPageSelected() {
            return (this.selected === this.pageCount - 1) || (this.pageCount === 0)
        }
    },

    // вычисляемые свойства
    computed: {
        // общее количество страниц
        pageCount: function() {
            return this.pages ? this.pages : (Math.ceil(this.items / this.itemsOnPage) || 1);
        },
        pageitems: function() {
            let items = {}
            if (this.pageCount <= this.pageRange) {
                for (let index = 0; index < this.pageCount; index++) {
                    let page = {
                        index: index,
                        content: index + 1,
                        selected: index === this.selected
                    }
                    items[index] = page
                }
            } else {
                let leftPart = this.pageRange / 2
                let rightPart = this.pageRange - leftPart
                if (this.selected < leftPart) {
                    leftPart = this.selected
                    rightPart = this.pageRange - leftPart
                } else if (this.selected > this.pageCount - this.pageRange / 2) {
                    rightPart = this.pageCount - this.selected
                    leftPart = this.pageRange - rightPart
                }
                let setPageItem = index => {
                    let page = {
                        index: index,
                        content: index + 1,
                        selected: index === this.selected
                    }
                    items[index] = page
                }
                let setBreakView = index => {
                    let breakView = {
                        content: '...',
                        disabled: true
                    }
                    items[index] = breakView
                }
                // 1st - loop thru low end of margin pages
                for (let i = 0; i < this.edges; i++) {
                    setPageItem(i);
                }
                // 2nd - loop thru selected range
                let selectedRangeLow = 0;
                if (this.selected - this.pageRange > 0) {
                    selectedRangeLow = this.selected - this.pageRange;
                }
                // 3rd - loop thru high end of margin pages
                let selectedRangeHigh = this.pageCount;
                if (this.selected + this.pageRange < this.pageCount) {
                    selectedRangeHigh = this.selected + this.pageRange;
                }
                for (let i = selectedRangeLow; i <= selectedRangeHigh && i <= this.pageCount - 1; i++) {
                    setPageItem(i);
                }
                // Check if there is breakView in the left of selected range
                if (selectedRangeLow > this.edges) {
                    setBreakView(selectedRangeLow - 1)
                }
                // Check if there is breakView in the right of selected range
                if (selectedRangeHigh + 1 < this.pageCount - this.edges) {
                    setBreakView(selectedRangeHigh + 1)
                }
                // 2nd - loop thru high end of margin pages
                for (let i = this.pageCount - 1; i >= this.pageCount - this.edges; i--) {
                    setPageItem(i);
                }
            }
            return items;
        }
    }
}
</script>

<style lang="less"></style>
