<template lang="html">
    <modal class="uk-modal-medium" v-if="state.data">
        <h2 class="uk-modal-title" slot="header">User Profile: <span v-html="state.data.first_name + ' ' + state.data.last_name || '...'"></span></h2>
        <form method="post" class="uk-margin" @submit.prevent="onSubmit">
            <div class="uk-grid" uk-grid>
                <div class="uk-width-1-3@m">
                    <span class="tm-profile-avatar" v-if="state.data.avatar"><img :src="state.data.avatar" :alt="state.data.first_name"></span>
                    <span v-else>no avatar image</span>
                    <input type="submit" class="uk-hidden">
                </div>
                <div class="uk-width-2-3@m"></div>
            </div>

            <div class="uk-grid" uk-grid>
                <div class="uk-width-1-3@m">
                    <label class="uk-form-label">ID:</label>
                </div>
                <div class="uk-width-2-3@m">
                    <span v-text="state.data.id">-</span>
                </div>
            </div>

            <div class="uk-grid" uk-grid>
                <div class="uk-width-1-3@m">
                    <label for="user.first_name" class="uk-form-label">First name:</label>
                </div>
                <div class="uk-width-2-3@m">
                    <div class="uk-form-ico">
                        <i class="icon-user"></i>
                        <input type="text" name="first_name" id="user.first_name" class="uk-input" placeholder="Vitaliy" v-model="state.data.first_name">
                    </div>
                </div>
            </div>

            <div class="uk-grid" uk-grid>
                <div class="uk-width-1-3@m">
                    <label for="user.last_name" class="uk-form-label">Last name:</label>
                </div>
                <div class="uk-width-2-3@m">
                    <div class="uk-form-ico">
                        <i class="icon-user"></i>
                        <input type="text" name="first_name" id="user.first_name" class="uk-input" placeholder="Bucked" v-model="state.data.last_name">
                    </div>
                </div>
            </div>

            <div class="uk-grid" uk-grid>
                <div class="uk-width-1-3@m">
                    <label for="user.login" class="uk-form-label">Login:</label>
                </div>
                <div class="uk-width-2-3@m">
                    <div class="uk-form-ico">
                        <i class="icon-mustache"></i>
                        <input type="text" name="login" id="user.login" class="uk-input" placeholder="unknown name" v-model="state.data.username">
                    </div>
                </div>
            </div>

            <div class="uk-grid" uk-grid>
                <div class="uk-width-1-3@m">
                    <label for="user.email" class="uk-form-label">Email:</label>
                </div>
                <div class="uk-width-2-3@m">
                    <div class="uk-form-ico">
                        <i class="icon-mention"></i>
                        <input type="email" name="email" id="user.email" class="uk-input" placeholder="wtf@emample.com" v-model="state.data.email">
                    </div>
                </div>
            </div>

            <div class="uk-grid" uk-grid>
                <div class="uk-width-1-3@m">
                    <label for="user.phone" class="uk-form-label">Phone:</label>
                </div>
                <div class="uk-width-2-3@m">
                    <div class="uk-form-ico">
                        <i class="icon-phone2"></i>
                        <input type="tel" name="phone" id="user.phone" class="uk-input" placeholder="+38(xxx) xxx-xx-xx" v-model="state.data.phone">
                    </div>
                </div>
            </div>

            <div class="uk-grid" uk-grid v-if="!state.data.id">
                <div class="uk-width-1-3@m">
                    <label for="user.password" class="uk-form-label">Password:</label>
                </div>
                <div class="uk-width-2-3@m">
                    <div class="uk-form-ico">
                        <i class="icon-lock"></i>
                        <input type="password" name="password" id="user.password" class="uk-input" v-model="state.data.password">
                    </div>
                </div>
            </div>
        </form>
        <div class="uk-modal-footer uk-text-right" slot="footer">
            <div class="uk-grid">
                <div class="uk-width-auto@m uk-padding-mini-top">
                    <!-- <a href="#" @click.prevent="onDelete"><i class="icon-bin uk-margin-mini-right"></i>Удалить</a> -->
                </div>
                <div class="uk-width-expand@m">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                    <button class="uk-button uk-button-primary uk-margin-left" type="submit" @click.prevent="onSubmit">Сохранить</button>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
import config from "@/core/config.js";
import api from '@/core/api.js';
import UIkit from "@lib/uikit/dist/js/uikit.min.js";
import Modal from "@/components/modal/modal.vue";

export default {
    name: "modal-user-profile",

    created() {
        console.log(this);
    },

    // динамические данные
    data() {
        return {
            state: this.data
        }
    },

    // входящие параметры
    props: {
        data: {
            type: [Object, Array]
        }
    },

    // компоненты
    components: {
        Modal
    },

    methods: {
        // отправка формы
        onSubmit: function(event) {
            console.log(event);
            let $this = this;
            api.post('/api/user/profile', this.state.data, {
                notify: true,
                notifyError: true
            }).then(function({data: response, request}) {
                console.log(response, "response item");
                // добавление нового пользователя
                if(response.code === 1201) {
                    $this.$parent.userlist.data.push(response.data);
                    $this.$parent.userlist.total += 1;
                    // закрыть текущее модальное окно
                    UIkit.modal($this.$el.parentElement).hide();
                }
                return Promise.resolve(response.data);
            }, function({data: response, request, config}) {
                return Promise.reject(response);
            });
        }
    },

    // вычисляемые свойства
    computed: {
        //
    },

    watch: {
        data: function() {
            this.state = this.data;
        }
    }
}
</script>

<style lang="less">
</style>
