//
// Component: Animation
//
// ========================================================================


// Variables
// ========================================================================


// Miscellaneous
// ========================================================================

.hook-animation-misc() {}

.uk-hover-slide-top-small {
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.uk-hover-slide-top-small:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
