//
// Component: Container
//
// ========================================================================


// Variables
// ========================================================================


// Miscellaneous
// ========================================================================

.hook-container-misc() {}

.uk-container-collapse {
    padding-left: 0;
    padding-right: 0;
}
