//
// Component: Margin
//
// ========================================================================


// Variables
// ========================================================================

@margin-mini-margin: @global-mini-margin;

// Miscellaneous
// ========================================================================

.hook-margin-misc() {}

/* Mini
 ========================================================================== */

.uk-margin-mini { margin-bottom: @margin-mini-margin; }
* + .uk-margin-mini { margin-top: @margin-mini-margin !important; }

.uk-margin-mini-top { margin-top: @margin-mini-margin !important; }
.uk-margin-mini-bottom { margin-bottom: @margin-mini-margin !important; }
.uk-margin-mini-left { margin-left: @margin-mini-margin !important; }
.uk-margin-mini-right { margin-right: @margin-mini-margin !important; }
