//
// Component: Nav
//
// ========================================================================


// Variables
// ========================================================================

@internal-nav-parent-close-image: "/img/assets/blank.svg";
@internal-nav-parent-open-image: "/img/assets/blank.svg";

//
// New
//

@nav-default-font-size:                         @global-small-font-size;

.uk-nav li > a {
    padding: 6px @global-margin;
    &:hover {
        background-color: #F4F5F7;
    }
}

// Sublists
// ========================================================================

.hook-nav-sub() {}


// Parent icon modifier
// ========================================================================

.hook-nav-parent-icon() {}
.uk-nav-parent-icon > .uk-parent > a::after {
    font-family: 'icomoon';
    content: "\e9c9";
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    margin-top: 4px;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
.uk-nav-parent-icon > .uk-parent.uk-open > a::after {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

// Header
// ========================================================================

.hook-nav-header() {
    padding-left: @global-margin;
}


// Divider
// ========================================================================

.hook-nav-divider() {}


// Default style modifier
// ========================================================================

.hook-nav-default() { font-size: @nav-default-font-size; }

.hook-nav-default-item() {}

.hook-nav-default-item-hover() {}

.hook-nav-default-item-active() {}

.hook-nav-default-header() {}

.hook-nav-default-divider() {}


// Primary style modifier
// ========================================================================

.hook-nav-primary() {}

.hook-nav-primary-item() {}

.hook-nav-primary-item-hover() {}

.hook-nav-primary-item-active() {}

.hook-nav-primary-header() {}

.hook-nav-primary-divider() {}


// Miscellaneous
// ========================================================================

.hook-nav-misc() {}


// Inverse
// ========================================================================

.hook-inverse-nav-parent-icon() {}

.hook-inverse-nav-default-item() {}
.hook-inverse-nav-default-item-hover() {}
.hook-inverse-nav-default-item-active() {}
.hook-inverse-nav-default-header() {}
.hook-inverse-nav-default-divider() {}

.hook-inverse-nav-primary-item() {}
.hook-inverse-nav-primary-item-hover() {}
.hook-inverse-nav-primary-item-active() {}
.hook-inverse-nav-primary-header() {}
.hook-inverse-nav-primary-divider() {}
