//
// Component: Notification
//
// ========================================================================


// Variables
// ========================================================================

@notification-width:                                  360px;

@notification-message-padding:                        16px;
@notification-message-background:                     @global-background;
@notification-message-font-size:                      @global-font-size;
@notification-message-box-shadow:                     0 15px 32px -8px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31);

@notification-close-top:                              @notification-message-padding;

// Component
// ========================================================================

.hook-notification() {}


// Message
// ========================================================================

.hook-notification-message() {
    border-radius: @global-border-radius;
    box-shadow: @notification-message-box-shadow;
    min-height: 22px;

    & > div {
        position: relative;
        padding-left: 26px;
    }

    & > div:before {
        font-family: "icomoon";
        font-size: 16px;
        position: absolute;
        left: 0;
        content: "\e9b9";
    }
}

// Close
// ========================================================================

.hook-notification-close() {}


// Style modifiers
// ========================================================================

.hook-notification-message-primary() {
    & > div::before {
        content: "\ed4f";
    }
}

.hook-notification-message-success() {
    & > div::before {
        content: "\ed6e";
    }
}

.hook-notification-message-warning() {

    & > div:before {
        content: "\ed4c";
    }
}

.hook-notification-message-danger() {
    color: @global-inverse-color;
    background-color: @notification-message-danger-color;
    & > div:before {
        content: "\ed63";
    }
}


// Miscellaneous
// ========================================================================

.hook-notification-misc() {}
