//
// Component: Pagination
//
// ========================================================================


// Variables
// ========================================================================

@pagination-margin-horizontal: 0px;

// Component
// ========================================================================

.hook-pagination() {}

.uk-pagination > * + * {
    padding-left: 6px;
}

// Items
// ========================================================================

.hook-pagination-item() {
    text-align: center;
    line-height: 26px;
    border: @button-border-width solid #ced0da;
    border-radius: @global-border-radius;
    min-width: 24px;
    padding: 2px 4px;
    outline: none;
    .transition(color 0.1s ease-in-out);
    .gradient(#ffffff, #f1f3f7);
}

.hook-pagination-item-hover() {
    border-color: darken(@global-border, 20%);
}

.hook-pagination-item-active() {
    background: @global-primary-background;
    color: @global-inverse-color;
    border-color: transparent;
}

.hook-pagination-item-disabled() {}

// Miscellaneous
// ========================================================================

.hook-pagination-misc() {}

// Inverse
// ========================================================================

.hook-inverse-pagination-item() {}
.hook-inverse-pagination-item-hover() {}
.hook-inverse-pagination-item-active() {}
.hook-inverse-pagination-item-disabled() {}
