//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================

//
// Typography
//

@global-font-size: 14px;
@global-xlarge-font-size: 1.8rem;

//
// Colors
//

@global-color: #333;
@global-muted-color: #999;
@global-inverse-color: #fff;
@global-link-color: #0057d8;

//
// Backgrounds
//

@global-background: #fff;
@global-muted-background: #f4f5f7;
@global-primary-background: #1c61c7;

//
// Borders
//

@global-border-radius: 3px;
@global-border: #e6eaee;

//
// Box shadow
//

@global-default-box-shadow: 0 1px 5px rgba(0,0,0,0.1);

//
// Spacings
//

// Used in margin, section, list
@global-margin: 20px;
@global-mini-margin: 5px;
@global-small-margin: 10px;
@global-medium-margin: 30px;
@global-large-margin: 40px;
@global-xlarge-margin: 60px;

// Used in grid, column, container, align, card, padding
@global-gutter: 20px;
@global-mini-gutter: 5px;
@global-small-gutter: 10px;
@global-medium-gutter: 30px;
@global-large-gutter: 40px;
@global-xlarge-gutter: 60px;

//
// Controls
//

@global-control-height: 30px;
@global-control-small-height: 24px;
@global-control-large-height: 46px;

//
// Z-index
//
