<template lang="html">
    <div class="uk-modal-body uk-modal-dialog uk-margin-auto-vertical">
        <slot name="header"></slot>
        <span class="uk-modal-close-default" type="button"></span>
        <slot></slot>
        <slot name="footer">
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                <button class="uk-button uk-button-primary uk-margin-left" type="button">Сохранить</button>
            </div>
        </slot>
    </div>
</template>

<script>
import EventBus from "@/core/eventbus.js";

export default {
    name: "modal",

    props: {
        id: {
            type: String,
            default: "modal-layout"
        }
    }
}
</script>

<style lang="less"></style>
