@import "../../src/lib/uikit/src/less/theme.admin/variables.less";
// Variables
@navbar-height: 60px;

// Main dashboard
.tm-navbar-top {
    height: @navbar-height;
}
.tm-navbar-top.uk-navbar-container {
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.tm-container-top {
    background-color: #fff;
    border-bottom: 1px solid @global-border;
}
    .tm-logo-side {
        min-width: 279px;
        height: 100%;
        position: relative;
    }
        .tm-base-logo {
            padding-left: 20px;
            padding-right: 20px;
        }
            .tm-base-logo img {
                max-height: 30px;
            }
    .tm-navbar-top .uk-search-navbar > i[class*="icon-"] {
        line-height: @navbar-height;
    }

.tm-card-block {
    display: block;
    padding-left: 90px;
    height: 100%;
}
.tm-card-block:hover {
    color: inherit;
    text-decoration: none;
}
    .tm-card-block .tm-icon {
        width: 50px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .tm-card-block .tm-title {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        display: block;
        margin-bottom: 6px;
    }
    .tm-card-block .tm-desc {
        display: block;
        color: #999;
    }

.tm-footer {
    .tm-left-wrap {
        border-top: 1px solid @global-border;
        border-right: none;
    }
    .tm-content-wrap {
        background-color: #fff;
        border-top: 1px solid @global-border;
        padding: 20px;
    }
}
.tm-empty-data {
    text-align: center;
    padding-top: 128px;
    margin-top: 60px;
    margin-bottom: 60px;
    color: @global-muted-color;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('/img/icon/icon-128-folder.png');
        width: 128px;
        height: 128px;
        margin: auto;
    }
}

.tm-table-counter {
    margin-left: 10px;
}
.tm-table-user {
    .tm-id {
        font-family: monospace;
        color: #999;
    }
    .tm-avatar {
        display: inline-block;
        min-width: 56px;
        min-height: 56px;
        border-radius: 50%;
        overflow: hidden;
    }
    .tm-name {
        font-size: 16px;
        font-weight: 500;
        padding-top: 5px;
    }
    .tm-login {
        color: #999;
    }
}
.tm-profile-avatar {
    display: inline-block;
    border-radius: 3px;
    overflow: hidden;
}
